@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<style>
    body {
        background-image: url("Images/adidas.jpg");
        background-color: lavender;
        background-size: cover;
        background-position: center;
        background-attachment: scroll;
    }
</style>

<p>This is the place where you can find what you looking for.</p>
